<.flash_group flash={@flash} />

<h2 class="text-black">First pipe maze:</h2>

<p>
  <img class="h-12" src="/pipe-maze/loop/first" />
  <img class="h-12" src="/pipe-maze/loop/first-with-junk" />
</p>

<h2 class="text-black">More complex example:</h2>

<p>
  <img class="h-12" src="/pipe-maze/loop/more-complex-example" />
  <img class="h-12" src="/pipe-maze/loop/more-complex-example-with-junk" />
</p>

<h2>Real data</h2>

<p><img class="" src="/pipe-maze/loop/day10" /></p>
